<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间：用于区分和管理SQL语句-->
<!-- 框架的基本原则：约定优先原则 -->
<mapper namespace="mybatis.UserMapper">

    <!-- 映射关系-->
    <resultMap type="entity.User" id="selectUserResult">
        <id column="id" property="id"/>
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="education" property="education" />
        <result column="tel" property="tel" />
    </resultMap>

    <!-- 查询列表对象 -->
    <select id="getList" resultMap="selectUserResult">
  	select * from user
  </select>

    <!-- 查询单个对象 -->
    <select id="getOne" parameterType="int" resultType="entity.User">
  	select * from user where id = #{id}
  </select>
    <!-- 插入数据 -->
    <insert id="insert" parameterType="entity.User">
  	insert into user(name,sex,age,birthday,address,education,tel)
  	values(#{name},#{sex},#{age},#{birthday},#{address},#{education},#{tel})
  </insert>
    <!-- 更新数据 -->
    <update id="update" parameterType="entity.User">
  	update user
  	<set>
        <if test="name != null">name=#{name},</if>
        <if test="sex != null">sex=#{sex},</if>
        <if test="age != 0">age=#{age},</if>
        <if test="birthday != null">birthday=#{birthday},</if>
        <if test="address != null">address=#{address},</if>
        <if test="education != null">education=#{education},</if>
        <if test="tel != null">tel=#{tel},</if>
    </set>
    where id=#{id}
  </update>
    <!-- 删除数据 -->
    <delete id="delete" parameterType="int">
  	delete from user where id=#{id}
  </delete>

</mapper>